#scroll {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
    width: 100%;
    top: 30vh;
}
#scroll i{
    position: fixed;
    bottom: 16vh;
    font-size: 40px;
    transform: rotate(135deg);
    z-index: 1;
}
#scroll #itemsa{
    height: 50px;
    z-index: 1;
    display: flex;
    justify-content: center;
}
#scroll #itemsa div{
    width: 160px;
    margin: 0;
}
#scroll #itemsa div #itemek{
    width: 130px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #EA047E;
    filter: opacity(0.60);
}

@media screen and (max-width:1100px) {
    #scroll #itemsa div{
        width: 120px;
    }
    #scroll #itemsa div #itemek{
        width: 110px;
    }

}


@media screen and (max-width:900px) {
    #scroll #itemsa div{
        width: 120px;
    }
    #scroll #itemsa div #itemek{
        width: 110px;
    }

}

@media screen and (max-width:760px) {
     #row_three{
        display: none;
    }
    #scroll #itemsa div{
        width: 120px;
    }
    #scroll #itemsa div #itemek{
        width: 110px;
    }

}


@media screen and (max-width:660px) {
    #row_one, #row_two, #row_three{
        display: none;
    }
    .products{
        z-index: 2;
        background: none;
    }
    #scroll #itemsa div{
        width: 130px;
    }
    #scroll #itemsa div #itemek{
        width: 120px;
    }
}

@media screen and (max-width:500px) {
    #row_one, #row_two, #row_three{
        display: none;
    }
    .products{
        z-index: 2;
        background: none;
    }
    #scroll #itemsa div{
        width: 100px;
    }
    #scroll #itemsa div #itemek{
        width: 90px;
    }
}