@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Poppins:wght@800&family=Shantell+Sans:wght@300&display=swap");
@font-face {
  font-family: "Argon";
  src: url(/ArgonPERSONAL-Regular.otf);
}
html {
  font-family: "Indie Flower", cursive;
  color: #bc6ff1;
}

.toggle .line_one {
  transform: rotate(-45deg) translate(-9px, 4px);
}

.toggle .line_dwo {
  opacity: 0;
}

.toggle .line_three {
  transform: rotate(45deg) translate(-9px, -4px);
}

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(27, 32, 44, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  transition: 0.3s;
}

body.open .overlay {
  visibility: visible;
  opacity: 1;
}

aside {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  padding: 20px;
  width: 260px;
  height: 100%;
  background: #1d1d1d;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  translate: 100% 0;
  transition: 0.3s;
}

body.open aside {
  translate: 0;
}

aside a {
  display: flex;
  align-items: center;
  height: 100px;
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

aside a:first-of-type {
  margin-top: 60px;
}

#burger1 {
  display: none;
  z-index: 11;
  position: fixed;
}

#burger1 div {
  display: none;
  cursor: pointer;
  width: 26px;
  height: 4px;
  margin: 5px;
  background-color: #fdfdfd;
  padding-left: 3%;
  transition: all 0.26s ease;
  z-index: 3;
}

#nav1 {
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  font-family: "Indie Flower", cursive;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.664);
  width: 100%;
  position: fixed;
  z-index: 10;
  color: white;
}
#nav1 .in-nav {
  padding: 0.3% 15% 0.3% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav1 #nav1.scroll-down {
  top: 0;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
}
#nav1 #hrf {
  text-decoration: none;
}
#nav1 #logo1 {
  cursor: pointer;
  height: auto;
  font-size: 55px;
  font-weight: 900;
  transition-duration: 0.4s;
  border-radius: 10px;
  animation: doLogo 5s linear infinite;
}
@keyframes doLogo {
  0% {
    color: #f5eaea;
  }
  25% {
    color: #ffb84c;
  }
  50% {
    color: #f16767;
  }
  75% {
    color: #a459d1;
  }
  100% {
    color: #f5eaea;
  }
}
#nav1 #logo1:hover {
  background-color: rgba(52, 52, 52, 0.5058823529);
}

.Nav-el {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  padding: 6px 11px 6px 11px;
  border: 1px solid #1b1b1b;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.541);
  transition-duration: 0.4s;
}

.mp {
  background-color: #1b1b1b;
}

.scroll {
  background-color: rgb(46, 44, 44);
}

.nav-hidden {
  top: -100%;
}

@media screen and (max-width: 1050px) {
  #nav1 {
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.877);
    max-width: 100%;
    position: fixed;
    z-index: 1;
  }
  #nav1 .in-nav {
    height: 17vh;
    padding: 0.3% 10% 0.3% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #nav1 #logo1 {
    height: auto;
    font-size: 50px;
    font-weight: 900;
    transition-duration: 0.4s;
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
    animation: doLogo 5s linear infinite;
  }
  #nav1 #logo:hover {
    background-color: rgba(27, 27, 27, 0.5058823529);
  }
  #nav1 #nav1 {
    width: 100%;
  }
  #nav1 .Nav-el {
    font-family: "Montserrat", sans-serif;
    padding: 6px 11px 6px 11px;
    border: 1px solid #1b1b1b;
    color: rgba(255, 255, 255, 0.884);
    border-radius: 5px;
    font-size: 16px;
    background-color: black;
    transition-duration: 0.4s;
  }
}
@media screen and (max-width: 880px) {
  #burger1 {
    display: block;
    z-index: 11;
    position: fixed;
    right: 40px;
    top: 6.5%;
  }
  #burger1 div {
    display: block;
  }
  #burger1 #jeden,
  #burger1 #dwa,
  #burger1 #trzy {
    display: block;
    cursor: pointer;
    width: 30px;
    border-radius: 50px;
  }
  #nav > div:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  #nav1 #logo1 {
    height: auto;
    font-size: 40px;
    font-weight: 900;
    transition-duration: 0.4s;
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
    animation: doLogo 5s linear infinite;
  }
  body aside a {
    display: flex;
    align-items: center;
    height: 70px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }
}/*# sourceMappingURL=nav.css.map */