@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Poppins:wght@800&family=Shantell+Sans:wght@300&display=swap');
@font-face {
  font-family: 'Argon';
  src: url(/ArgonPERSONAL-Regular.otf);
}
$yellow: #ffb84c;
$aliceblue: #f0f8ff;
$h2: #7f8799;
$white: #ffffff;
$item_h1: #E900FF;
$item_h3: #ffb74ce8;
$item_h3_v2: #ecdbba;
$important: #df2e38;
$bg: #000000;
$el1: #52057b;
$el2: #892cdc;
$el3: #bc6ff1;
$el4mod: #1b1b1b;
$el3mod: #bd6ff1a6;
$alic: rgba(255, 255, 255, 0.884);
$green: #ffb84c;


html {
  font-family: "Indie Flower", cursive;
  color: $el3;
}
.toggle .line_one {transform: rotate(-45deg) translate(-9px, 4px);}
.toggle .line_dwo {opacity: 0;}
.toggle .line_three {transform: rotate(45deg) translate(-9px, -4px);}




.overlay{
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:  rgb(27 32 44 / 70%);
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(6px);
  transition: 0.3s;
}
body.open .overlay{
  visibility: visible;
  opacity: 1;
}
body.open aside{
  translate: 0;
}
aside{
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 20px;
  width: 260px;
  height: 100%;
  background: #1d1d1d;
  box-shadow: 0 0 20px rgb(0 0 0 / 70%);
  translate: 100% 0;
  transition: 0.3s;
  #burger2 {
    display: block;
    z-index: 11;
    position: fixed;
    right: 40px;
    top: 40px;
    div {
      background-color: white;
      display: block;
      cursor: pointer;
      width: 30px;
      height: 4px;
      margin: 5px;
      padding-left: 3%;
      transition: all 0.26s ease;
      z-index: 13;
      border-radius: 50px;
    }
  }
  a{
    display: flex;
    align-items: center;
    height: 100px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
  a:first-of-type{
    margin-top: 60px;
  }
}

#burger1 {
  display: none;
  z-index: 11;
  position: fixed;
  div {
    background-color: white;
    display: none;
    cursor: pointer;
    width: 26px;
    height: 4px;
    margin: 5px;
    padding-left: 3%;
    transition: all 0.26s ease;
    z-index: 13;
  }
}
#nav1 {
 background-color: rgba(0, 0, 0, 0.259);
  font-family: "Indie Flower", cursive;
  padding: 20px 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  transition: 0.5s;
  .in-nav {
    width: 100vw;
    padding: 0.3% 15% 0.3% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    #secret{
      transition: 0.5s;  
      .Nav-el {
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
        padding: 6px 12px 6px 12px;
        // border: 1px solid $el4mod;
        border: none;
        color: white;
        border-radius: 5px;
        font-size: 18px;
        background: none;
        transition-duration: 1s;
        font-weight: 500;
        position: relative;
        background: none;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: color;
      }
      .Nav-el:focus,
      .Nav-el:hover {
        color: #fff;
      }

      .Nav-el:focus:after,
      .Nav-el:hover:after {
        width: 100%;
        left: 0%;
      }

      .Nav-el:after {
        content: "";
        pointer-events: none;
        bottom: 4px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 1px;
        background-color: #fff;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
      }
    }
    #logo1 {
      width: 220px;
    }
  }
}

// .mp {
//   background-color: $el4mod;
// }
.scroll {
  background-color: rgb(46, 44, 44);
}
.nav-hidden {
  top: -100%;
}

//MEDIA/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@media screen and (max-width: 1100px) {
  #burger1 {
    display: block;
    z-index: 110;
    position: relative;
    right: 40px;
    div {
      z-index: 110;
      display: block;
    }
    #jeden,#dwa,#trzy {
      z-index: 110;
      display: block;
      cursor: pointer;
      width: 30px;
      border-radius: 50px;
    } 
  }
  #nav > div:nth-child(2) {
    display: none;
  }
  #nav1 .in-nav #logo1 {
    width: 200px;
  }
}


@media screen and (max-width: 600px) {
  #nav1 .in-nav #logo1 {
    width: 150px;
  }
}





@media screen and (max-width: 500px) {

  #nav1 {
    #logo1 {
      height: auto;
      font-size: 40px;
      font-weight: 900;
      transition-duration: 0.4s;
      border-radius: 10px;
      padding: 10px 10px 0px 10px;
      animation: doLogo 5s linear infinite;
    }
  }
  body aside a{
    display: flex;
    align-items: center;
    height: 70px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }
}
