@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Shantell+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
html {
  font-family: "Indie Flower", cursive;
  color: #bc6ff1;
}

#first {
  background: url("../../images/wave-haikei.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
#first #cont {
  width: 100%;
  display: flex;
}
#first #cont #opis {
  width: 50%;
  padding: 9% 1% 12% 10%;
  margin-right: 100px;
}
#first #cont #opis #yrs {
  margin: 0;
  width: -moz-max-content;
  width: max-content;
}
#first #cont #opis h3 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  color: #9400FF;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-transform: capitalize;
}
#first #cont #opis #myname {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 70px;
  color: #fcff4c;
  text-transform: capitalize;
  color: #9400FF;
}
#first #cont #opis h1 {
  color: #9400FF;
  font-size: 30px;
  margin: 20px 0 20px 0;
}
#first #cont #opis h1 .p {
  -webkit-text-decoration: underline 2px solid #9400FF;
          text-decoration: underline 2px solid #9400FF;
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
}
#first #cont #opis #typed {
  font-weight: 600;
  display: flex;
  text-transform: capitalize;
}
#first #cont #opis #typed #type {
  padding-left: 10px;
  color: #F90716;
  margin: 0;
}
#first #cont #opis #typed span {
  color: #F90716;
}
#first #cont #opis #buttons {
  width: 80%;
}
#first #cont #opis #buttons button {
  margin: 0 2px;
  transition: 0.4s;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 13px 6px 13px;
  color: #F3F8FF;
  background: white;
}
#first #cont #opis #buttons button a {
  text-decoration: none;
  color: #F3F8FF;
}
#first #cont #opis #buttons button:nth-child(1) {
  border: 0px solid #201f30;
}
#first #cont #opis #buttons button:nth-child(2) {
  border: 0px solid #3F0071;
}
#first #cont #opis #buttons button:nth-child(3) {
  border: 0px solid #CF0000;
}
#first #cont #opis #buttons button:nth-child(4) {
  border: 0px solid #0079FF;
}
#first #opis2 {
  width: 20%;
  margin: auto;
  position: relative;
  right: 50px;
}
#first #opis2 img {
  width: 250px;
  border-radius: 50%;
  height: auto;
  box-shadow: rgba(5, 151, 224, 0.774) 6px 2px 16px 0px, rgba(192, 49, 49, 0.774) -6px -2px 16px 0px;
}

.hoverBubble {
  background: #333333;
  color: #ffffff;
  cursor: pointer;
  opacity: 0;
  padding: 8px 12px;
  position: absolute;
  text-align: left;
  visibility: hidden;
  border-radius: 3px;
  transition: all 0.25s;
  font-size: 15px;
}

.bubblePosition {
  bottom: 100%;
  height: inherit;
  left: 5%;
}

.hoverBubble:after,
.bubblePosition:after {
  border: 8px solid transparent;
  border-top-color: #333333;
  bottom: -15px;
  content: "";
  height: 0px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 0px;
}

.p:hover .hoverBubble {
  opacity: 1;
  visibility: visible;
  transition: all 0.25s;
}
.p:hover .hoverBubble p {
  padding: 0;
  margin: 0;
  min-width: 113px;
  display: flex;
  justify-content: left;
}

@media screen and (max-width: 1250px) {
  #first #cont #opis {
    padding: 9% 1% 12% 12%;
    width: 60%;
    margin-right: 70px;
  }
  #first #cont #opis h1 {
    font-size: 25px;
  }
  #first #cont #opis #buttons {
    width: 100%;
    margin-top: 10px;
  }
  #first #cont #opis h1:nth-child(3) {
    margin: auto;
    margin: 15px 0 15px 0;
  }
  #first #cont #opis2 {
    width: 250px;
    padding: 0;
  }
  #first #cont #opis2 img {
    width: 250px;
  }
}
@media screen and (max-width: 900px) {
  #first #cont #opis {
    width: 55%;
  }
  #first #cont #opis h1 {
    font-size: 25px;
  }
  #first #cont #opis #myname {
    font-size: 40px;
  }
  #first #cont #opis2 {
    width: 200px;
    padding: 0;
  }
  #first #cont #opis2 img {
    width: 200px;
  }
}
@media screen and (max-width: 800px) {
  #first {
    padding-top: 5vh;
  }
  #first #cont {
    width: 670px;
    display: grid;
    margin: 0 auto 0 auto;
    padding-bottom: 100px;
  }
  #first #cont #opis {
    order: 2;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin-right: 0px;
    margin-top: 20px;
  }
  #first #cont #opis #typed {
    margin: 0;
    font-weight: 600;
    display: flex;
    justify-content: center;
    width: auto;
    padding: 0 auto;
    text-transform: capitalize;
  }
  #first #cont #opis2 {
    clear: both;
    order: 1;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
  }
}
@media screen and (max-width: 490px) {
  #first #cont #opis #myname {
    font-size: 28px;
  }
  #first #cont #opis h3 {
    font-size: 45px;
  }
  #first #cont #opis h1 {
    font-size: 30px;
  }
  #first #cont #opis #myname {
    padding: 0 10px;
    font-size: 40px;
  }
  #first #cont #opis2 {
    width: 200px;
    padding: 0;
  }
  #first #cont #opis2 img {
    width: 200px;
  }
}
@media screen and (max-width: 400px) {
  #first #cont #opis h1:nth-child(3) {
    font-size: 18px;
    margin: auto 5%;
  }
}
@media screen and (max-width: 370px) {
  #first #cont #opis h1:nth-child(3) {
    font-size: 22px;
    margin: auto 5%;
  }
  #first #cont #opis #myname {
    padding: 0 10px;
    font-size: 35px;
  }
  #first #cont #opis2 {
    width: 200px;
    padding: 0;
  }
  #first #cont #opis2 img {
    width: 200px;
  }
}/*# sourceMappingURL=first.css.map */