@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Shantell+Sans:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
$bg: #000000;
$el1: #52057b;
$el2: #892cdc;
$el3: #bc6ff1;
$el4mod: #1b1b1b;
$el3mod: #bd6ff1a6;
$alic: #ffffffe1;
$green: #fcff4c;
$item_h1: #E900FF;
$item_h3: #ffb74ce8;
$item_h3_v2: #ecdbba;
$important: #df2e38;
html {
  font-family: "Indie Flower", cursive;
  color: $el3;
}

//1000

#first {
 background: url('../../images/1.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  height: 900px;

  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  
  #cont {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    #opis {
      width: 50%;
      padding: 9% 1% 12% 10%;
      min-width: 820px;
      max-width: 1000px;
      #yrs{
        margin: 0;
        width: max-content;
      }
      h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 70px;
        background: linear-gradient(90deg, #03BE3D 50%, #006D22 120%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 1.5px;
        font-weight: 700;
        text-transform: capitalize;
      }
      #myname {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        margin: 0;
        font-size: 70px;
        color: $green;
        text-transform: capitalize;
        color: #9400FF;
        
      }
      
      h1 {
        color: #9400FF;
        font-size: 30px;
        margin: 20px 0 20px 0;
        
        .p {
          text-decoration: underline 2px solid #9400FF;
          cursor: pointer;
          width: max-content;
        }
      }
      #typed{
        font-weight: 800;
        display: flex;
        text-transform: capitalize;
        #type{
          padding-left: 10px;
          color: #F90716;
          margin: 0;
        }
        span{
          color: #F90716;
        }
      }

      #buttons {
        width: 80%;
        
        button {
          margin: 0;
          transition: .4s;
          border: none;
          border-radius: 50%;
          font-size: 24px;
          text-decoration: none;
          padding: 8px 13px 6px 13px;
          color: #f3f8ffc2;
          background: none;
          i{
            color: #7C00FE;
            transition: 0.2s;
          }
          i:hover{
            color: #7b00fea4;
          }
        }
      
      }
    }
  }
  
  #opis2 {
    width: 580px;
    margin: auto 0;
    position: relative;
    right: 50px;
    
    img {
      width: 530px;
    }
  }
}


.hoverBubble {
  background: #333333;
  color: #ffffff;
  cursor: pointer;
  opacity: 0;
  padding: 8px 12px;
  position: absolute;
  text-align: left;
  visibility: hidden;
  border-radius: 3px;
  transition: all 0.25s;
  font-size: 15px;
}

.bubblePosition {
  bottom: 100%;
  height: inherit;
  left: 5%;
}

.hoverBubble:after,
.bubblePosition:after {
  border: 8px solid transparent;
  border-top-color: #333333;
  bottom: -15px;
  content: "";
  height: 0px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 0px;
}

.p:hover .hoverBubble {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  p {
    padding: 0;
    margin: 0;
    min-width: 113px;
    display: flex;
    justify-content: left;
  }
}


//MEDIA/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1530px) {

  #first {
    #cont {
      width: 100%;
      display: flex;
      
      #opis {
        width: 50%;
        padding: 9% 0% 10% 6%;
        min-width: 800px;
        h3 {
          font-size: 65px;
        }
        #myname {
          font-size: 65px;
        }
        
        h1 {
          color: #9400FF;
          font-size: 30px;
          margin: 20px 0 20px 0;
          
        }
      }
    }
    
    #opis2 {
      right: 50px;
      img {
        width: 460px;
      }
    }
  }

}














@media screen and (max-width: 1300px) {
  #first {
    #cont {
      #opis {
        padding: 9% 1% 12% 4%;
        width: 60%;
        margin-right: 70px;
        min-width: 650px;
        h1 {
          font-size: 25px;
        }
        #buttons {
          width: 100%;
          margin-top: 10px;
        }
        h1:nth-child(3){
          margin: auto;
          margin: 15px 0 15px 0;
        }
      }
      #opis2 {
        width: 400px;
        padding: 0;
        img {
          width: 400px;
        }
      }
    }
  }
}



@media screen and (max-width: 1170px) {
  #first {
    height: 900px;
    padding: 100px 0 150px 0;
    #cont {
      flex-direction: column-reverse;
      align-items: center;
      #opis {
        padding: 0;
        text-align: center;
        width: 60%;
        margin-right: 0;
        min-width: 650px;
        #typed{
          justify-content: center;
        }
        h1 {
          font-size: 25px;
        }
        #buttons {
          width: 100%;
          margin-top: 10px;
        }
        h1:nth-child(3){
          margin: auto;
          margin: 15px 0 15px 0;
        }
      }
      #opis2 {
        width: 400px;
        padding: 0;
        padding: 0 30px;
        img {
          width: 400px;
        }
      }
    }
  }
}





@media screen and (max-width: 900px) {

  #first {
    #cont {
      #opis {
        min-width: 250px;
        width: 90%;
        h1 {
          font-size: 25px;
        }
        #myname {
          font-size: 40px;
        }
        
      }
    }
  }
}
@media screen and (max-width: 800px) {
  #first {
    height: 900px;
    padding: 50px 0 150px 0
  }
}
// @media screen and (max-width: 800px) {
//   #first {
//     padding-top: 5vh;
//     #cont {
//       width: 670px;
//       display: grid;
//       margin: 0 auto 0 auto;
//       padding-bottom: 100px;
//       #opis {
//         order: 2;
//         display: inline-block;
//         text-align: center;
//         width: 100%;
//         padding: 0;
//         margin-right: 0px;
//         margin-top: 20px;
//         #typed{
//           margin: 0;
//           font-weight: 600;
//           display: flex;
//           justify-content: center;
//           width: auto;
//           padding: 0 auto;
//           text-transform: capitalize;
//         }
//       }
//       #opis2 {
//         clear: both;
//         order: 1;
//         display: inline-block;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         right: 0;
//       }
//     }
//   }
// }



@media screen and (max-width: 550px) {
  #first #cont #opis #myname {
    font-size: 28px;
  }
  #first #cont #opis h3 {
    font-size: 40px;
  }
  #first {
    height: 700px;
    padding: 0px 0 60px 0;
    #cont {
      #opis {
        h1 {
          font-size: 30px;
          margin: 0;
        }
        h3 {
          margin: 0 0 2px 0;
          letter-spacing: 0px;
        }
        #myname {
          padding: 0;
          font-size: 30px;
        }
        #typed{
          font-size: 20px;
          margin: 10px 0 ;
        }
      }
      #opis2 {
        width: 200px;
        padding: 0;
        img {
          width: 300px;
        }
      }
    }
  }
}


@media screen and (max-width: 400px) {
  #first #cont #opis h1:nth-child(3) {
    font-size: 18px;
    margin: auto 5%;
  }
}

@media screen and (max-width: 370px) {
  #first #cont #opis h1:nth-child(3) {
    font-size: 22px;
    margin: auto 5%;
  }
  #first {
    #cont {
      padding: 0 10px;
      #opis {
        width: 98%;
        #myname {
          padding: 0 1px;
          font-size: 28px;
        }
        #typed{
          font-size: 18px;
        }
        h3{
          font-size: 38px;
        }
      }
      #opis2 {
        width: 200px;
        padding: 0;
        img {
          width: 260px;
        }
      }
    }
  }
}