@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Poppins:wght@800&family=Shantell+Sans:wght@300&display=swap");
@font-face {
  font-family: "xxx";
  src: url(../Library3am-5V3Z.otf);
}
html {
  font-family: "Indie Flower", cursive;
  color: #bc6ff1;
}

section#about {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #0e0e0f;
  overflow: hidden;
}
section#about h3 {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "xxx", sans-serif;
  font-weight: 100;
}
section#about #line {
  margin: 0px auto 30px;
  width: 100px;
  height: 2px;
  background: #FEA1A1;
}
section#about #container {
  width: 900px;
  text-align: left;
  border: 0.1px solid #494b50;
}
section#about #container #rest {
  display: flex;
  width: 100%;
  color: #F8F6F4;
}
section#about #container #rest #image {
  width: 250px;
  filter: blur(0.1px);
  opacity: 0.8;
}
section#about #container #rest #image img {
  width: 250px;
  height: 100%;
}
section#about #container #rest #text {
  padding: 5px 20px;
}
section#about #container #rest #text h1 {
  font-weight: 400;
}
section#about #container #rest #text h6 {
  font-weight: 400;
}
section#about #container #rest #text p {
  font-weight: 300;
}

@media screen and (max-width: 950px) {
  section#about {
    width: 100%;
    height: auto;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0f;
  }
  section#about #container {
    width: 90%;
    text-align: left;
    border: 0.1px solid #7f8799;
  }
  section#about #container #rest {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0;
    color: #7f8799;
  }
  section#about #container #rest #text {
    font-size: 15px;
    padding: 5px 0px 5px 20px;
  }
}
@media screen and (max-width: 800px) {
  section#about #container {
    width: 95%;
  }
  section#about #container #rest {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0;
    color: #7f8799;
  }
  section#about #container #rest #text {
    font-size: 15px;
    padding: 5px 0px 5px 20px;
  }
}
@media screen and (max-width: 750px) {
  section#about {
    height: auto;
    min-height: 900px;
  }
  section#about #container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    height: auto;
    border: none;
  }
  section#about #container h3 {
    margin: 0;
    color: aliceblue;
    margin-bottom: 20px;
  }
  section#about #container #rest {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    color: rgb(193, 197, 201);
  }
  section#about #container #rest #text {
    width: 300px;
    font-size: 15px;
    padding: 0;
  }
  section#about #container #rest #text h1 {
    font-size: 25px;
  }
  section#about #container #rest #text h6 {
    font-size: 15px;
  }
  section#about #container #rest #text p {
    font-size: 15px;
    font-weight: 400;
  }
  section#about #container #rest #image {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto auto auto auto;
    padding-bottom: 10px;
    filter: blur(0.1px);
  }
  section#about #container #rest #image img {
    width: 300px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
}
@media screen and (max-width: 600px) {
  section#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0f;
    overflow: hidden;
  }
  section#about #container {
    width: 100%;
    text-align: left;
    border: none;
  }
  section#about #container #rest {
    display: flex;
    width: 100%;
    color: #F8F6F4;
  }
  section#about #container #rest #image {
    width: 100%;
    filter: blur(0.1px);
    opacity: 0.8;
  }
  section#about #container #rest #image img {
    width: 250px;
    height: 100%;
  }
  section#about #container #rest #text {
    padding: 0;
    width: 250px;
  }
  section#about #container #rest #text h1 {
    font-weight: 400;
  }
  section#about #container #rest #text h6 {
    font-weight: 400;
  }
  section#about #container #rest #text p {
    font-weight: 300;
  }
}
@media screen and (max-width: 350px) {
  section#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0f;
    overflow: hidden;
  }
  section#about #container {
    width: 100%;
    text-align: left;
    border: none;
  }
  section#about #container #rest {
    display: flex;
    width: 100%;
    color: #F8F6F4;
  }
  section#about #container #rest #image {
    width: 100%;
    filter: blur(0.1px);
    opacity: 0.8;
  }
  section#about #container #rest #image img {
    width: 200px;
    height: 100%;
  }
  section#about #container #rest #text {
    padding: 0;
    width: 80%;
    text-align: center;
  }
  section#about #container #rest #text h1 {
    font-weight: 400;
  }
  section#about #container #rest #text h6 {
    font-weight: 400;
  }
  section#about #container #rest #text p {
    font-weight: 300;
  }
}/*# sourceMappingURL=about.css.map */