@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Poppins:wght@800&family=Shantell+Sans:wght@300&display=swap');
$bg: #000000;
$el1: #52057b;
$el2: #892cdc;
$el3: #bc6ff1;
$el4mod: #1b1b1b;
$el3mod: #bd6ff1a6;
$alic: rgba(255, 255, 255, 0.884);
$green: #ffb84c;
html {
  font-family: "Indie Flower", cursive;
  color: $el3;
}


section#about {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #0e0e0f;
  
  #container {
    width: 1500px;
    text-align: left;
    
    h3 {
      font-family: "Montserrat", sans-serif;
      margin-left: 350px;
      color: aliceblue;
    }
    
    #rest {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      color: #7f8799;
      
      #text {
        font-family: "Montserrat", sans-serif;
        width: 30%;
        font-size: 20px;
      }
      
      #image {
        margin-left: 100px;
        width: 250px;
        filter: blur(0.1px);
        opacity: 0.8;
        
        img {
          width: 250px;
          border-radius: 10px;
        }
      }
    }
  }
}

//MEDIA/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 1500px) {
  section#about {
    #container {
      width: auto;
      max-width: 700px;
      text-align: left;
      height: auto;
      h3 {
        margin: 0;
        color: aliceblue;
      }
      #rest {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: #7f8799;
        #text {
          width: 350px;
          font-size: 20px;
        }

        #image {
          display: flex;
          width: 250px;
          margin: auto auto auto auto;
          padding-bottom: 40px;
          filter: blur(0.1px);
          img {
            width: 250px;
            border-radius: 10px;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  section#about {
    #container {
      #rest {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-right: 50px;
        color: #7f8799;
        #text {
          width: 400px;
          font-size: 17px;
        }
      }
    }
  }
}



@media screen and (max-width: 880px) {
  section#about {
    #container {
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      text-align: left;
      height: auto;
      h3 {
        margin: 0;
        color: aliceblue;
        margin-bottom: 20px;
      }
      #rest {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;
        width: 100%;
        margin-right: 0;
        color: #7f8799;
        #text {
          width: 350px;
          font-size: 17px;
        }

        #image {
          display: flex;
          width: 250px;
          margin: auto auto auto auto;
          padding-bottom: 40px;
          filter: blur(0.1px);
          img {
            width: 250px;
            border-radius: 10px;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          }
        }
      }
    }
  }
}



@media screen and (max-width: 700px) {
  section#about {
    #container {
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      text-align: left;
      height: auto;
      h3 {
        margin: 0;
        color: aliceblue;
        margin-bottom: 20px;
      }
      #rest {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;
        width: 100%;
        color: #7f8799;
        padding: 25px;
        #text {
          width: 350px;
          font-size: 15px;
        }

        #image {
          display: flex;
          width: 200px;
          margin: auto auto auto auto;
          padding-bottom: 40px;
          filter: blur(0.1px);
          img {
            width: 200px;
            border-radius: 10px;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  section#about {
    padding-top: 20px;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  section#about {
    #container {
      #rest {
        #text {
          width: 80%;
          font-size: 17px;
        }
      }
    }
  }
}
