@font-face {
  font-family: 'xxx';
  src: url(../Library3am-5V3Z.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Poppins:wght@800&family=Shantell+Sans:wght@300&display=swap');
$bg: #000000;
$el1: #52057b;
$el2: #892cdc;
$el3: #bc6ff1;
$el4mod: #1b1b1b;
$el3mod: #bd6ff1a6;
$alic: rgba(255, 255, 255, 0.884);
$green: #ffb84c;
$yellow: #ffb84c;
$aliceblue: #f0f8ff;
$h2: #7f8799;
$white: #ffffff;
$item_h1: #E900FF;
$item_h3: #ffb74ce8;
$item_h3_v2: #ecdbba;
$important: #df2e38;
html {
  font-family: "Indie Flower", cursive;
  color: $el3;
}


section#about {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #FEF2F4;
  overflow: hidden;

  h3{
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'xxx', sans-serif;
    font-weight: 500;
    font-size: 50px;
  }

  #line{
    margin: 0px auto 30px ;
    width: 100px;
    height: 2px;
    background:#FEA1A1;
  }

  #container {
    width: 900px;
    text-align: left;

    #rest {
      display: flex;
      width: 100%;
      color: black;
      #image {
        width: 300px;
        filter: blur(0.1px);
        opacity: 0.8;
        img {
          width: 300px;
          height: 100%;
        }
      }
      #text{
        padding: 5px 20px;
        h1{
          font-weight: 400;
          color: black;
          font-size: 40px;
        }
        h6{
          color: black;
          font-size: 25px;
        }
         p{
          font-size: 20px;
          color: black;
        }
      }
    }
  }
}
section#about::after{
  height: 700px;
  background: url('../../images/1-2.svg');
  background-repeat: no-repeat;
  margin-bottom: 1000px;
  background-size: cover;
}

//MEDIA/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 950px) {
  section#about {
    width: 100%;
    height: auto;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // background-color: #0e0e0f;
    #container {
        width: 90%;
      #rest {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0;
        #text {
          font-size: 15px;
          padding: 5px 0px 5px 20px;
        }
      }
    }
  }
}



@media screen and (max-width: 800px) {
    section#about {
      #container {
          width: 95%;
      
        #rest {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90%;
          margin: 0;
          #text {
            font-size: 15px;
            padding: 5px 0px 5px 20px;
          }
        }
      }
    }
  }



@media screen and (max-width: 750px) {
  section#about {
    height: auto;
    min-height: 600px;
    #container {
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: left;
      height: auto;
      border: none;
      h3 {
        margin: 0;
        margin-bottom: 20px;
      }
      #rest {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        #text {
          width: 300px;
          font-size: 15px;
          padding: 0;

          h1{
            font-size: 25px;
          }
          h6{
            font-size: 15px;
          }
          p{
            font-size: 15px;
          }


        }

        #image {
          display: flex;
          width: 100%;
          justify-content: center;
          margin: auto auto auto auto;
          padding-bottom: 10px;
          filter: blur(0.1px);
          img {
            width: 300px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  section#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: #0e0e0f;
    overflow: hidden;
    h3{
      font-size: 30px;
    }
    #container {
      width: 100%;
      text-align: left;
      border: none;
  
      #rest {
        display: flex;
        width: 100%;
        #image {
          width: 100%;
          filter: blur(0.1px);
          opacity: 0.8;
          img {
            width: 250px;
            height: 100%;
          }
        }
        #text{
          padding: 0;
          width: 250px;
          h1{
            font-weight: 400;
          }
          h6{
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  section#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: #0e0e0f;
    overflow: hidden;
  
    #container {
      width: 100%;
      text-align: left;
      border: none;
  
      #rest {
        display: flex;
        width: 100%;
        #image {
          width: 100%;
          filter: blur(0.1px);
          opacity: 0.8;
          img {
            width: 200px;
            height: 100%;
          }
        }
        #text{
          padding: 0;
          width: 80%;
          text-align: center;
          h1{
            font-weight: 400;
          }
          h6{
            font-weight: 400;
          }
        }
      }
    }
  }
}