@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Poppins:wght@800&family=Shantell+Sans:wght@300&display=swap");
@font-face {
  font-family: "xxx";
  src: url(../Library3am-5V3Z.otf);
}
html {
  font-family: "Indie Flower", cursive;
  color: #bc6ff1;
}

section#about {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #85EF47;
  overflow: hidden;
  padding: 0;
}
section#about h3 {
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "xxx", sans-serif;
  font-weight: 500;
  font-size: 50px;
}
section#about #line {
  margin: 0px auto 30px;
  width: 100px;
  height: 2px;
  background: #FEA1A1;
}
section#about #container {
  width: 900px;
  text-align: left;
}
section#about #container #rest {
  display: flex;
  width: 100%;
  color: black;
}
section#about #container #rest #image {
  width: 370px;
  padding: 30px;
  border-radius: 12px;
  filter: blur(0.1px);
}
section#about #container #rest #image img {
  width: 320px;
  height: 100%;
}
section#about #container #rest #text {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#about #container #rest #text h1 {
  font-weight: 500;
  color: black;
  font-size: 40px;
}
section#about #container #rest #text h6 {
  color: black;
  font-size: 25px;
}
section#about #container #rest #text p {
  font-size: 20px;
  color: black;
}
section#about #container #rest #text p #text_p_dev {
  color: #0000FF;
  font-weight: 600;
}
section#about #container #rest #text p #text_year {
  color: #9400FF;
  font-weight: 600;
}
section#about #container #rest #text p #text_app {
  color: rgba(249, 7, 23, 0.8470588235);
  font-weight: 600;
}

section#about::after {
  height: 700px;
  background: url("../../images/1-2.svg");
  background-repeat: no-repeat;
  margin-bottom: 1000px;
  background-size: cover;
}

@media screen and (max-width: 950px) {
  section#about {
    width: 100%;
    height: auto;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  section#about #container {
    width: 90%;
  }
  section#about #container #rest {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0;
  }
  section#about #container #rest #text {
    font-size: 15px;
    padding: 5px 0px 5px 20px;
  }
}
@media screen and (max-width: 800px) {
  section#about #container {
    width: 95%;
  }
  section#about #container #rest {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0;
  }
  section#about #container #rest #text {
    font-size: 15px;
    padding: 5px 0px 5px 20px;
  }
}
@media screen and (max-width: 750px) {
  section#about {
    height: auto;
    min-height: 600px;
  }
  section#about #container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    height: auto;
    border: none;
  }
  section#about #container h3 {
    margin: 0;
    margin-bottom: 20px;
  }
  section#about #container #rest {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }
  section#about #container #rest #text {
    width: 300px;
    font-size: 15px;
    padding: 0;
  }
  section#about #container #rest #text h1 {
    font-size: 25px;
  }
  section#about #container #rest #text h6 {
    font-size: 15px;
  }
  section#about #container #rest #text p {
    font-size: 15px;
  }
  section#about #container #rest #image {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto auto auto auto;
    padding-bottom: 10px;
    filter: blur(0.1px);
  }
  section#about #container #rest #image img {
    width: 300px;
  }
}
@media screen and (max-width: 600px) {
  section#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  section#about h3 {
    font-size: 35px;
  }
  section#about #container {
    width: 100%;
    text-align: left;
    border: none;
  }
  section#about #container #rest {
    display: flex;
    width: 100%;
  }
  section#about #container #rest #image {
    width: 100%;
    filter: blur(0.1px);
    opacity: 0.8;
  }
  section#about #container #rest #image img {
    width: 250px;
    height: 100%;
  }
  section#about #container #rest #text {
    padding: 0;
    width: 250px;
  }
  section#about #container #rest #text h1 {
    font-weight: 400;
  }
  section#about #container #rest #text h6 {
    font-weight: 400;
  }
}
@media screen and (max-width: 350px) {
  section#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  section#about #container {
    width: 100%;
    text-align: left;
    border: none;
  }
  section#about #container #rest {
    display: flex;
    width: 100%;
  }
  section#about #container #rest #image {
    width: 100%;
    filter: blur(0.1px);
    opacity: 0.8;
  }
  section#about #container #rest #image img {
    width: 200px;
    height: 100%;
  }
  section#about #container #rest #text {
    padding: 0;
    width: 80%;
    text-align: center;
  }
  section#about #container #rest #text h1 {
    font-weight: 400;
  }
  section#about #container #rest #text h6 {
    font-weight: 400;
  }
}/*# sourceMappingURL=about.css.map */