@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
body{
  color: black;
  margin: 0;
  background-color: #F8F6F4;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}
#hh i{
  font-style: normal;
  display: inline-block;
  padding-left: 1px;
  padding-right: 1px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
#hh i:hover{
  transform: translate3d(0, -6px, 0);
}
header {
    background-color: #252525;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 10% 20px 10%;
}
#one{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #F90716;
}
#sec_div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}


input[type='text']{
    height: 30px;
    border-radius: 15px;
    width: 300px;
    min-width: 300px;
    font-size: 15px;
    padding: 6px 14px;
    font-family: 'Pacifico', cursive;
    border: none;
    background-color: #353434;
    color: #F3FDE8;
}
#clear{
  color: #F3FDE8;
  cursor: pointer;
  padding: 8px 12px;
  transition-duration: 0.4s;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #353434;
}
#clear:hover{
    background-color: #f88c8c; 
    color: white;
}

#line2{
  color: white;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#warn{
    font-size: 20px;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
#opisa{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    padding: 0 14px;
    font-weight: 900;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}
#nations, #types {
    text-align: center;
    width: max-content;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
    padding: 6px 16px;
    transition-duration: 0.2s;
}


#nat, #type{
  position: relative;
  font: 900 15px 'Raleway', sans-serif;
  margin: 2px 5px;
  border: none;
  transition-duration: 0.4s;
  max-height: 30px;
  background: none;
  overflow: hidden;
  color: white;
}
#nat span, #type span{
  position: relative;
  z-index: 2;
}




.active{
  color: white;
}

#container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 200px;
  max-width: 1300px;
  margin: 0 auto;
}
.cards_item {
  font-family: "Montserrat", sans-serif;
  display: flex;
  padding: 1.2rem;
  width: 380px;
  height: auto;
  transition: 0.5s;
}

#container:hover > :not(:hover){
  opacity: .6;
}

.card {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s;
}

.card_image {
  position: relative;
  height: 340px;
  width: 340px;
  border-radius: 3px;
}

.card_image img {
  height: 340px;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.card:hover{
  scale: 1.02;
}

.card_content {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 10px 8px 0 8px ;
  max-height: 290px;
  height: 90px;
}

.card_content::-webkit-scrollbar {
  width: 8px;
}

.card_content::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 0;
}

.card_content::-webkit-scrollbar-thumb {
  background: #c89b3f;
  border-radius: 15px;
}

.card_title {
  letter-spacing: 1.2px;
  color: black;
  position: relative;
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}


.card_text{
  display: flex;
  align-items: top;
  justify-content: flex-start;
  width: 100%;
  margin-top: 5px;
  gap: 10px;
}

.card_text p {
  color: black;
  font-size: 18px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: auto;
  padding: 0;
  margin: 0;
}


.card_title::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00DFA2;
  content: "";
}
h2{
  font-size: 30px;
}



.swiper {
  width: 100vw;
  background-color: #252525;
  height: 60vh;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  min-height: 400px;
  width: 100vw;
  max-height: 60vh;
  object-fit: cover;
  display: block;
  margin: 0 auto; 
}
.swiper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603); /* Adjust the color and opacity as needed */
  z-index: 10; /* Place the overlay above the image */
}

.opis{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-43vh);
  z-index: 10;
  width: 100vw;
  position: relative;
  color: white;
  font-family: 'Amatic SC', cursive;
}

.opis h1{
  font-size: 70px;
  margin: 0 0 10px 0;
}

.opis h3{
  margin: 0 0 10px 0;
  max-width: 500px;
  font-size: 30px;
  text-align: center;
}

#see{
  font-family: "Montserrat", sans-serif;
  padding: 12px 32px;
  border: 1px solid red;
  background-color: #D80032;
  color: white;
  font-size: 20px;
  transition: .4s;
  border-radius: 7px;
}
#see:hover{
  scale: 1.05;
}

@media  screen and (max-width: 1400px) {
  .swiper {
    max-height: 400px;
  }
}



@media only screen and (max-width: 1000px) {
    header {
      flex-direction: column;
      text-align: center;
      margin-bottom: 50px;
    }
    h1{
        margin: 20px 0 0 0;
    }
    #warn{
        font-size: 25px;
    }
    
#line2{
    padding: 0;
}
}  

