@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    color: rgb(253, 253, 253);
    margin: 0;
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(https://github.com/mkuba2006/rpp/blob/master/images/bg5.jpg?raw=true);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header {
    background-color: #292727b4;
    color: rgb(255, 255, 255);
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
#one{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}



input[type='text']{
    height: 40px;
    border-radius: 7px;
    width: 300px;
    min-width: 300px;
    border: none;
    font-size: 15px;
    padding: 6px 14px;
    font-family: 'Pacifico', cursive;
}
#clear{
  color: white;
  cursor: pointer;
  padding: 8px 6px;
  border: 1px solid #c74040;
  transition-duration: 0.4s;
  border-radius: 7px;
}
#clear:hover{
    background-color: #c74040; 
}

#line2{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
#warn{
    font-size: 20px;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
#opisa{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    padding: 0 14px;
    font-weight: 900;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}
#nations, #types {
    background-color: #f1b7b7;
    text-align: center;
    width: max-content;
    max-width: 650px;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    padding: 6px 16px;
    margin-bottom: 25px;
    transition-duration: 0.2s;
}

#nations button:hover, #types button:hover{
    color: rgba(245, 26, 81, 0.664);
}
button{
    font: 900 15px 'Raleway', sans-serif;
    padding: 6px 16px;
    border: none;
    transition-duration: 0.4s;
    max-height: 30px;
}
button span {
    position: relative;
    z-index: 2;
  }
button::after {
    background-color: #34363485;
    content: '';
    position: absolute;
    display: block;
    height: 10px;
    text-align: center;
    font-size: 0.8em;
  }

  
button:hover:after{
    transform: translateY(-10px);
}

.active{
    color: rgb(154, 238, 143);
    
}

#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 10%;
    margin-bottom: 200px;
}
.cards_item {
  font-family: "Montserrat", sans-serif;
  display: flex;
  padding: 1rem;
  width: 300px;
  height: 300px;
}

.card_image {
  position: relative;
  max-height: 180px;
  width: 100%;
}

.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  background-color: #5e1010;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s;
}
.card:hover{
  scale: 1.07;
}

.card_content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 16px 8px 0 8px ;
  max-height: 290px;
}

.card_content::-webkit-scrollbar {
  width: 8px;
}

.card_content::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 0;
}

.card_content::-webkit-scrollbar-thumb {
  background: #c89b3f;
  border-radius: 15px;
}

.card_title {
  color: #c9efdc;
  position: relative;
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.card_text p {
  color: #c9efdc;
  font-size: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}


.card_title::after {
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00DFA2;
  content: "";
}
h2{
  font-size: 30px;
}
.card_text{
  display: flex;
  align-items: top;
  justify-content: space-between;
  width: 90%;
  gap: 5px;
}




@media only screen and (max-width: 1000px) {
    header {
      flex-direction: column;
      text-align: center;
      margin-bottom: 50px;
    }
    h1{
        margin: 20px 0 0 0;
    }
    #warn{
        font-size: 25px;
    }
    
#line2{
    padding: 0;
}
}  