@font-face {
    font-family: 'xxx';
    src: url(../Library3am-5V3Z.otf);
}
h2{
    margin: 0px auto 10px;
    font-size: 33px;
    font-family: 'xxx', sans-serif;
    color: black;
}


#questions{
    padding: 50px 0;
    width: 100%;
    background-color: #f1e8ea;
    min-height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .line {
        margin: 0px auto 30px;
        width: 100px;
        height: 2px;
        background: #FEA1A1;
      }

    #infos{
        width: 100vw;
        max-width: 940px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        #selection{
            width: 450px;
            height: 40px;
            border-radius: 3px;
            background-color: #fff;
            margin: 10px 10px;
            padding: 5px 16px;
            overflow-y: hidden;
            transition: .3s;
            cursor: pointer;

            #line1{
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 30px;
                #plus{
                    font-size: 20px;
                    transition: .2s;
                    margin-right: 30px;
                }
                span{
                    font-weight: 900;
                }
            }
            #line2{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: left;
                height: 130px;
                text-align: left;
                padding-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 1050px){
    #questions{
        padding: 50px 0;
        width: 100%;
        background-color: #f1e8ea;
        min-height: 500px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    
        #infos{
            width: 100vw;
            max-width: 940px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
            #selection{
                width: 350px;
                height: 40px;
                border-radius: 3px;
                background-color: #fff;
                margin: 10px 10px;
                padding: 5px 16px;
                overflow-y: hidden;
                transition: .3s;
                cursor: pointer;
            }
        }
    }
}


@media screen and (max-width: 750px){
    #questions{
        #infos{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            #selection{
                width: 350px;
            }
        }
    }
}



@media screen and (max-width: 450px){

    #questions{
        padding: 50px 0;
        width: 100%;
        background-color: #f1e8ea;
        min-height: 500px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    
        #infos{
            width: 100vw;
            max-width: 940px;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
            #selection{
                width: 85%;
                height: 40px;
                border-radius: 3px;
                background-color: #fff;
                margin: 10px 10px;
                padding: 5px 16px;
                overflow-y: hidden;
                transition: .3s;
                cursor: pointer;
                #line1{
                    span{
                        font-size: 12px;
                    }
                    #plus{
                        margin-right: 15px;
                    }
                }
                #line2{
                    font-size: 13px;
                    height: auto;
                    padding-top: 5px;
                }
            }
        }
    }

}