@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Poppins:wght@800&family=Shantell+Sans:wght@300&display=swap');
$bg: #000000;
$el1: #52057b;
$el2: #892cdc;
$el3: #bc6ff1;
$el4mod: #1b1b1b;
$el3mod: #bd6ff1a6;
$alic: rgba(255, 255, 255, 0.884);
$green: #ffb84c;
html {
  font-family: "Indie Flower", cursive;
  color: $el3;
}

//1000
#app {
  padding-top: 18%;
  font-family: "Montserrat", sans-serif;
  height: 82vh;

  .title-songs {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;
    font-size: 33px;
  }
  #line{
    display: block;
    margin: 0px auto 30px ;
    width: 200px;
    height: 2px;
    clear: both;
    background:#FEA1A1;
  }
  .product-list {
    padding: 0;
    width: 1000px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .prod-item {
      transition-duration: 0.4s;
      padding: 9px 9px;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 150px;

      #ram {
        transition-duration: 0.4s;
        width: 100%;
        min-height: 130px;
        max-height: 130px;
        border-radius: 10px;
        background-color: #161616;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 12px;

        .obraz {
          width: 42%;

          img {
            width: 100%;
            border-radius: 7px;
            height: auto;
          }
        }

        .kontent {
          width: 60%;
          height: 50%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          overflow: hidden;

          h1 {
            padding-top: 30px;
            font-size: 20px;
            font-weight: 700;

            a {
              color: #c84b31;
              list-style-type: none;
              text-decoration: none;
            }
          }

          h3 {
            font-family: "Montserrat", sans-serif;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 150px;
            color: #ecdbba;
            padding: 10px 10px;
            font-size: 18px;
          }
        }
      }
    }

    .prod-item {
      #ram:hover {
        transform: scale(1.08);
      }
    }
  }
}

//MEDIA/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




@media screen and (max-width: 1050px) {

  #app {
    .product-list {
      padding: 0;
      width: 90%;
      max-width: 800px;
      grid-template-columns: 1fr 1fr;
      #ram {
        min-height: 130px;
        max-height: 130px;
        padding: 4px 12px;
        .obraz {
          img {
            width: 100%;
            min-width: 125px;
            max-width: 125px;
            min-height: 125px;
            max-height: 125px;
          }
        }
      }
    }
  }
}



@media screen and (max-width: 788px) {
  #app {
    height: auto;
    background: none;
    .product-list {
      padding: 0;
      width: 420px;
      height: auto;
      grid-template-columns: 1fr;
      #ram {
        min-height: 130px;
        max-height: 130px;
        padding: 4px 12px;
        .obraz {
          img {
            width: 100%;
            min-width: 125px;
            max-width: 125px;
            min-height: 125px;
            max-height: 125px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 500px) {
  #app {
    height: auto;
    #line{
      width: 100px;
    }
    .title-songs {
      font-size: 22px;
    }
    .product-list {
      padding: 0;
      width: auto;
      max-width: 300px;
      height: auto;
      grid-template-columns: 1fr;
      .prod-item {
        padding: 9px 9px;
        min-height: 150px;
      }
      #ram {
        min-height: 130px;
        max-height: 130px;
        width: 90%;
        padding: 4px 12px;
        .obraz {
          justify-content: left;
          img {
            width: 100%;
            min-width: 115px;
            max-width: 115px;
            min-height: 115px;
            max-height: 115px;
          }
        }
      }
      .kontent {
        width: 60%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        h1 {
          padding-top: 30px;
          font-size: 10px;
          #stitle {
            font-size: 17px;
            display: inline-block;
            max-width: 9ch;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          
        }
        h3 {
          font-size: 15px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 150px;
          color: #ecdbba;
          padding: 10px 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #app {
    .product-list {
      .prod-item {
        #ram {
          width: 97%;
          .kontent {
            width: 60%;
            height: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
  
            h1 {
              padding-top: 10px;
              font-size: 20px;
              font-weight: 700;
  
              a {
                color: #c84b31;
                list-style-type: none;
                text-decoration: none;
              }
            }
  
            h3 {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              min-width: 110px;
              max-width: 110px;
              color: #ecdbba;
              padding: 0;
              font-size: 18px;
              display: inline-block;
              max-width: 8ch;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              margin-left: 15px;
              margin-bottom: 0;
            }
          }
        }
      }
      .prod-item {
        #ram:hover {
          transform: scale(1.08);
        }
      }
    }
  }
}