@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root {
    font-size: 15px;
    --var-soft-blue: hsl(215, 51%, 70%);
    --var-cyan: hsl(178, 100%, 50%);
    --var-main-darkest: hsl(217, 54%, 11%);
    --var-card-dark: hsl(216, 50%, 16%);
    --var-line-dark: hsl(215, 32%, 27%);
    --var-lightest: white;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}
#nie{
  color: aliceblue;
  font-size: 30px;
  position: absolute;
  top: 12vh;
  left: 45%;
}
.notactive{
  opacity: 0;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: #131111;
    padding: 0;
    margin: 0;
    color: rgba(14, 14, 14, 0.795);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(https://github.com/mkuba2006/rpp/blob/master/projects/Fake-shop/img/fappp.jpg?raw=true);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* background-color: var(--var-main-darkest); */
}
.navbar{
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 1;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 10%;
    background-color: #3F0071;
}
 #site{
  color: #9DF1DF;
}
#name {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 18px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 0.2rem;
    background-color: #F6F1E9;
    border: none;
    font-weight: 700;
    display: block;
    transition: all 0.3s;
  }
  #name span{
    font-size: 30px;
  }
  ul{
    display: none;
    width: 250px;
    position: absolute;
    right: 6%;

    z-index: 1;
  }
  #drop-menu{
    background-color: #272727;
  }
.uls{
  display: list-item;
  list-style-type: none;
  padding: 0;
}
.btn{
  background: none;
  border: none;
}
.li_fav{
  list-style-type: none;
  padding: 5px 10px;
  display: flex;
  justify-content: left;
  color: #300e0ebb;
  background-color: #272727;
  border-bottom: 1px solid black;
  transition: 0.2s;
}
.li_fav img{
  width: 75px;
  margin-right: 15px;
}
.li_fav p{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: white;
}
.li_fav:hover{
  background-color: #3b3b3b;
}
 

.products{
  position: relative;
  top: 10vh;
  padding: 10px;
  color: rgb(255, 240, 240);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}


.card-container{
  width: 450px;
  height: auto;
  padding: 20px;
  background-color: #191825;
  display: flex;
  flex-direction: column;
  margin: 25px 12px ;
  border-radius: 12px;
  transition: .3s;
}
.card-container:hover{
  scale: 1.02;
}
.card-container .global{
  display: flex;
  flex-direction: row;
}

.card-container .global .image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 100%;
  margin-bottom: 15px;
}
.card-container .global .image-container section{
  width: 190px;
  height: 190px;
}

.card-container .global .image-container img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; 
  border-radius: 12px;
}

.card-container .global .image-container i{
  transition: 0.3s;
  z-index: 10;
  border-radius: 12px;
  opacity: 0;
  font-size: 50px;
  position: absolute;
  height: 190px;
  width: 190px;
  text-align: center;
  padding: auto;
  background-color: #1d277d73;
  display: flex;
  justify-content: center;
  align-items: center;
}





.card-container .global .main{
  width: 230px;
  padding: 10px;
}
.card-container .global .main .opis-cont{
  overflow: hidden;
}


.card-container .global .main .opis-cont p {
  padding: 0 0 0 22px;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  color: #E384FF;
}

.card-container .global .main .opis-cont p.Act {
  max-height: 132px;
}

@keyframes slideFromTop {
  from {
    max-height: 0;
  }
  to {
    max-height: fit-content;
  }
}
.card-container .global .main .opis-cont p.notAct {
  animation: slideFromTop 0.3s ease;
}





.card-container .global .main .opis-cont #content-button{
  border: none;
  background: none;
  color: #e8b2f8;
  text-decoration: underline;
  width: 100%;
  margin-top: 10px;
}
.card-container .global .main h1 {
  text-align: center;
}
.card-container .global .main h1 a{
  font-size: 23px;
  color: #865DFF;
  font-weight: 500;
  text-decoration: none;
}
.card-container .card-attribute{
  margin: 0 auto;
  width: auto;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.card-container .card-attribute a{
  color: #FFEA20;
  text-decoration: none;
}









@media screen and (max-width:1700px) {
  .products{
    position: relative;
    top: 10vh;
    padding: 10px;
    color: rgb(255, 240, 240);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}


@media screen and (max-width:1075px) {

  .card-container{
    width: 70%;
    min-width: 350px;
    height: auto;
    padding: 20px;
    background-color: #191825;
    display: flex;
    flex-direction: column;
    margin: 25px 12px ;
    border-radius: 12px;
    transition: .3s;
  }
  .card-container .global .image-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
    border-radius: 12px;
  }
  
  .card-container .global .image-container i{
    font-size: 40px;
  }
  
  
  
  .card-container .global .main h1 {
    text-align: left;
    padding-left: 5%;
}
  
  .card-container .global .main{
    width: 70%;
    padding: 10px;
  }
  
  
  .card-container .global .main .opis-cont p {
    padding: 0 0 0 22px;
    max-height: 100%;
    overflow: hidden;
    color: #E384FF;
}

  .card-container .global .main .opis-cont #content-button{
    display: none;
  }

}



@media screen and (max-width:900px) {

  .card-container{
    width: 90%;
    min-width: 350px;
    height: auto;
    padding: 20px;
    background-color: #191825;
    display: flex;
    flex-direction: column;
    margin: 25px 12px ;
    border-radius: 12px;
    transition: .3s;
  }
  .card-container .global .image-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
    border-radius: 12px;
  }
  
  .card-container .global .image-container i{
    font-size: 40px;
  }
  
  
  
  .card-container .global .main h1 {
    text-align: left;
    padding-left: 5%;
}
  
  .card-container .global .main{
    width: 70%;
    padding: 10px;
  }
  
  
  .card-container .global .main .opis-cont p {
    padding: 0 0 0 22px;
    max-height: 100%;
    overflow: hidden;
    color: #E384FF;
}

  .card-container .global .main .opis-cont #content-button{
    display: none;
  }

}

























@media screen and (max-width:720px) {
  .products {
    top: 25vh;
}
}

@media screen and (max-width:660px) {

  .card-container{
    width: 90%;
    min-width: 350px;
    height: auto;
    padding: 20px;
    background-color: #191825;
    display: flex;
    flex-direction: column;
    margin: 25px 12px ;
    border-radius: 12px;
    transition: .3s;
  }
  .card-container .global .image-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
    border-radius: 12px;
  }
  
  .card-container .global .image-container i{
    font-size: 40px;
  }
  
  
  
  .card-container .global .main h1 {
    padding: 0 0 0 22px;
  }
  
  .card-container .global .main{
    width: 95%;
    padding: 10px;
  }

  .card-container .global .main .opis-cont #content-button{
    display: none;
  }



  .card-container .global{
    display: flex;
    flex-direction: column;
  }
  
  .card-container .global .image-container{
    width: 100%;
    background-color: #0000007c;
    padding: 10px;
    border-radius: 12px;
  }
  .card-container .global .image-container section{
    width: 190px;
    height: 190px;
  }
  
  .card-container .global .image-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
    border-radius: 12px;
  }
  

}











@media screen and (max-width:500px) {

  .card-container{
    width: 90%;
    min-width: 350px;
    height: auto;
    padding: 20px;
    background-color: #191825;
    display: flex;
    flex-direction: column;
    margin: 25px 12px ;
    border-radius: 12px;
    transition: .3s;
  }
  .card-container .global .image-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
    border-radius: 12px;
  }
  
  .card-container .global .image-container i{
    font-size: 40px;
  }
  
  
  
  .card-container .global .main h1 {
    padding: 0 0 0 22px;
  }
  
  .card-container .global .main{
    width: 95%;
    padding: 10px;
  }

  .card-container .global .main .opis-cont #content-button{
    display: block;
  }



  .card-container .global{
    display: flex;
    flex-direction: column;
  }
  
  .card-container .global .image-container{
    width: 100%;
    background-color: #0000007c;
    padding: 10px;
    border-radius: 12px;
  }
  .card-container .global .image-container section{
    width: 190px;
    height: 190px;
  }
  
  .card-container .global .image-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
    border-radius: 12px;
  }
  
  .card-container .global .main .opis-cont p {
    padding: 0 0 0 22px;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    color: #E384FF;
  }
}