@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Poppins:wght@800&family=Shantell+Sans:wght@300&display=swap');
$bg: #000000;
$el1: #52057b;
$el2: #892cdc;
$el3: #bc6ff1;
$el4mod: #1b1b1b;
$el3mod: #bd6ff1a6;
$alic: rgba(255, 255, 255, 0.884);
$green: #ffb84c;
@font-face {
  font-family: 'xxx';
  src: url(../Library3am-5V3Z.otf);
}
// font-family: 'xxx', sans-serif;
html {
  font-family: "Indie Flower", cursive;
  color: $el3;
}
//1000

#caruzela{
  background: url('../../images/1-2.svg');
  background-repeat: no-repeat;
  background-color: #0e100f;
  padding: 500px 0 0 0;
  text-align: center;
  #info{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "xxx", sans-serif;
    font-weight: 500;
    font-size: 50px;
  }
  .line {
    margin: 0px auto 30px;
    width: 100px;
    height: 2px;
    background: #FEA1A1;
  }
  .carousel-item {
    width: 100%;
    img {
      max-width: 1000px;
      margin: 0 auto;
  
      filter: blur(0.3px);
      min-height: 500px;
      max-height: 500px;
      filter: brightness(70%);
    }
  }
  .carousel-caption {
    background-color: #0e100f;
    text-align: center;
    h5{
      overflow: hidden;
      a{
        z-index: 2;
        font-family: 'xxx', sans-serif;
        color: #ffb84c;
      }
      a::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 0px;
        transform: translateY(23px);
        background-color: rgb(255, 255, 255);
        z-index: 1;
        transition: all 0.6s;
      }
      a:hover::before {
        width: 102px;
      }
    }
    
  }
}

#carouselExampleCaptions > div.carousel-inner{
  overflow: hidden;
}
//MEDIA/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 1500px) {
  .carousel-item {
    width: 100%;
    img {
      max-width: 75%;
    }
    .carousel-caption {
      width: 100%;
      left: 0;
    }
  }
}

@media screen and (max-width: 1250px) {
  .carousel-item {
    width: 100%;
    img {
      max-width: 85%;
    }
  }
}

@media screen and (max-width: 1050px) {
  .carousel-item {
    width: 100%;
    img {
      max-width: 100%;
    }
  }
  #caruzela{
    padding: 280px 0 0 0;
    .line {
      margin: 0px auto;
      width: 100px;
      height: 2px;
      background: #FEA1A1;
    }
  }
  .carousel{
    display: none;
  }
}

// @media screen and (max-width: 880px) {
//   .carousel-item {
//     width: 100%;
//   }
//   .carousel-caption {
//     background-color: #010206;
//   }
// }

// @media screen and (max-width: 788px) {
//   .carousel{
//     display: none;
//   }
//   .carousel-item {
//     margin-top: 0;
//     width: 100%;
//   }
//   .carousel-indicators {
//     margin-bottom: -1rem;
//   }
//   .carousel {
//     max-height: 450px;
//     margin: 350px 0;
//   }
//   .carousel-item {
//     width: 100%;
//   }
//   .carousel-caption {
//     background-color: #010206;
//   }
// }



// @media screen and (max-width: 600px) {
//   .carousel-indicators {
//     margin-bottom: 2rem;
//   }
//   .carousel {
//     max-height: 350px;
//     margin: 150px 0;
//   }
//   .carousel-item {
//     width: 100%;
//     img {
//       min-height: 350px;
//       max-height: 500px;
//     }
//   }
//   .carousel-caption {
//     background-color: #010206;
//   }
// }
// @media screen and (max-width: 500px) {
//   .carousel {
//     display: none;
//     max-height: 250px;
//     margin: 150px 0;
//   }
//   .carousel-item {
//     width: 100%;
//     img {
//       min-height: 250px;
//       max-height: 500px;
//     }
//   }
//   .carousel-caption {
//     background-color: #010206;
//   }
// }