@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Poppins:wght@800&family=Shantell+Sans:wght@300&display=swap");
@property --progress-value {
  syntax: "<integer>";
  inherits: true;
  initial-value: 0;
}
:root {
  --progress-bar-color: #cfd8dc;
  --progress-value-color: #2196f3;
  --progress-empty-color-h: 4.1;
  --progress-empty-color-s: 89.6;
  --progress-empty-color-l: 58.4;
  --progress-filled-color-h: 122.4;
  --progress-filled-color-s: 39.4;
  --progress-filled-color-l: 49.2;
}

html {
  font-family: "Indie Flower", cursive;
  color: #bc6ff1;
}

@font-face {
  font-family: "xxx";
  src: url(../Library3am-5V3Z.otf);
}
h3 {
  color: #bc6ff1;
}

#four {
  background-color: #0e100f;
  padding-top: 12%;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  position: relative;
  padding-bottom: 10%;
}
#four i {
  padding: 0 auto 0 auto;
  color: #bc6ff1;
  font-size: 150px;
}
#four h3 {
  color: #ffb84c;
  font-weight: 1000;
}
#four p {
  color: #892cdc;
  font-weight: 600;
}
#four #dos {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 100px auto;
}
#four #dos .mmm {
  border-style: solid;
  border-color: transparent;
  width: 300px;
  margin: 10px;
  background-color: #040D12;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #E4FBFF;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 7px;
  transition: 0.3s;
}
#four #dos .mmm i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  width: 50px;
  height: 100%;
}
#four #dos .mmm #info {
  width: 200px;
}
#four #dos .mmm #info h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  color: white;
}
#four #dos .mmm #info progress {
  width: 200px;
}
#four #dos .mmm #info progress[value] {
  display: block;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 80%;
  height: 6px;
  border: 0;
  --border-radius: 10px;
  border-radius: var(--border-radius);
  counter-reset: progress var(--progress-value);
  --progress-value-string: counter(progress) "%";
  --progress-max-decimal: calc(var(--value, 0) / var(--max, 0));
  --progress-value-decimal: calc(var(--progress-value, 0) / var(--max, 0));
  --progress-value-percent: calc(var(--progress-value-decimal) * 100%);
  --progress-value-color: hsl(
    calc((var(--progress-empty-color-h) + (var(--progress-filled-color-h) - var(--progress-empty-color-h)) * var(--progress-value-decimal)) * 1deg)
    calc((var(--progress-empty-color-s) + (var(--progress-filled-color-s) - var(--progress-empty-color-s)) * var(--progress-value-decimal)) * 1%)
    calc((var(--progress-empty-color-l) + (var(--progress-filled-color-l) - var(--progress-empty-color-l)) * var(--progress-value-decimal)) * 1%)
  );
  animation: calc(3s * var(--progress-max-decimal)) linear 0.5s 1 normal both progress;
}
@supports selector(::-moz-progress-bar) {
  #four #dos .mmm #info progress[value] {
    --progress-value-decimal: calc(var(--value, 0) / var(--max, 0));
  }
}
#four #dos .mmm #info progress[value]::-webkit-progress-bar {
  background-color: var(--progress-bar-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}
#four #dos .mmm #info progress[value]::-webkit-progress-value {
  width: var(--progress-value-percent) !important;
  background-color: var(--progress-value-color);
  border-radius: var(--border-radius);
}
#four #dos .mmm #info progress[value]::-moz-progress-bar {
  width: var(--progress-value-percent) !important;
  background-color: var(--progress-value-color);
  border-radius: var(--border-radius);
}
@keyframes progress {
  from {
    --progress-value: 0;
  }
  to {
    --progress-value: var(--value);
  }
}
#four #dos #HTML i {
  color: red;
}
#four #dos #CSS i {
  color: blue;
}
#four #dos #JS i {
  color: yellow;
}
#four #dos #React i {
  color: #61DBFB;
}
#four #dos #Bootstrap i {
  color: #0d6efd;
}
#four #dos .mmm:hover {
  border: solid #5d5cda;
}
#four #certificates {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  z-index: 0;
}
#four #certificates div {
  width: 700px;
  z-index: 0;
}
#four #certificates div img {
  filter: blur(0.5px);
  width: 100%;
  z-index: 0;
}
#four #certificates div .cloud1, #four #certificates div .cloud2 {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9019607843);
  top: 0px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease 0s;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}
#four #certificates div .cloud1 img, #four #certificates div .cloud2 img {
  margin: 0;
  opacity: 1;
  max-width: 250px;
  max-height: 250px;
}
#four #certificates div .cloud1:hover {
  opacity: 1;
  display: flex;
}
#four #certificates div .cloud1:hover img {
  margin: 0;
  opacity: 1;
}
#four #certificates div .cloud2:hover {
  opacity: 1;
  display: flex;
}
#four #certificates div .cloud2:hover img {
  margin: 0;
  opacity: 1;
}
#four #info {
  color: white;
  width: -moz-min-content;
  width: min-content;
  margin: 0px auto 10px;
  font-weight: 100;
  font-size: 40px;
  font-family: "xxx", sans-serif;
}
#four .line {
  margin: 0px auto 30px;
  width: 100px;
  height: 2px;
  background: #FEA1A1;
}
#four #line2 {
  margin-bottom: 100px;
}

@media screen and (max-width: 1600px) {
  #four #certificates div {
    width: 48%;
  }
  #four #certificates div img {
    filter: blur(0.5px);
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  #four #dos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 0;
    height: auto;
  }
  #four #dos div i {
    font-size: 10px;
  }
}
@media screen and (max-width: 788px) {
  #four {
    padding-top: 18%;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    position: relative;
    padding-bottom: 10%;
    height: auto;
  }
  #four #dos {
    margin-bottom: 100px;
  }
  #four #certificates {
    gap: 40px;
  }
  #four #certificates div {
    width: 500px;
  }
  #four #certificates div img {
    filter: blur(0px);
    width: 100%;
  }
  #four #certificates div .cloud1 {
    height: 48%;
    top: 0px;
  }
  #four #certificates div .cloud2 {
    height: 48%;
    top: 52%;
  }
}
@media screen and (max-width: 688px) {
  #four #dos {
    padding: 0;
    margin-bottom: 100px;
  }
  #four #certificates {
    gap: 40px;
  }
  #four #certificates div {
    width: 470px;
  }
  #four #certificates div img {
    filter: blur(0px);
    width: 100%;
  }
  #four #certificates div .cloud1 {
    height: 364.5px;
    top: 0px;
  }
  #four #certificates div .cloud2 {
    height: 364.5px;
    top: 52%;
  }
  #four #line2 {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  #dos {
    margin-bottom: 0;
  }
  #four #dos {
    margin-bottom: 0;
  }
  #four #certificates {
    gap: 40px;
  }
  #four #certificates div {
    width: 80%;
  }
  #four #certificates div img {
    filter: blur(0px);
    width: 100%;
  }
  #four #certificates div .cloud1 {
    height: 48%;
    top: 0px;
  }
  #four #certificates div .cloud1 img {
    max-width: 150px;
    max-height: 150px;
  }
  #four #certificates div .cloud2 {
    height: 46%;
    top: 54%;
  }
  #four #certificates div .cloud2 img {
    max-width: 150px;
    max-height: 150px;
  }
}
@media screen and (max-width: 500px) {
  #four #dos {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 350px) {
  #four #dos {
    margin-bottom: 0;
  }
  #four #certificates div .cloud1 {
    height: 45%;
    top: 0px;
  }
  #four #certificates div .cloud1 img {
    max-width: 160px;
    max-height: 160px;
  }
  #four #certificates div .cloud2 {
    height: 45%;
    top: 55%;
  }
  #four #certificates div .cloud2 img {
    max-width: 160px;
    max-height: 160px;
  }
  #dos {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=four.css.map */