@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Poppins:wght@800&family=Shantell+Sans:wght@300&display=swap');
$bg: #000000;
$el1: #52057b;
$el2: #892cdc;
$el3: #bc6ff1;
$el4mod: #1b1b1b;
$el3mod: #bd6ff1a6;
$alic: rgba(255, 255, 255, 0.884);
$green: #ffb84c;
html {
  font-family: "Indie Flower", cursive;
  color: $el3;
}

#formus{
  background-image: linear-gradient(rgba(1, 1, 1, 0.7), rgba(3, 3, 3, 0.7)),url('https://github.com/mkuba2006/rpp/blob/master/images/bg2.jpg?raw=true');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

//MEDIA/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 450px) {
  #formus{
    background: url('https://raw.githubusercontent.com/mkuba2006/rpp/188a8683501e4dfddf993e28c354d459cba6c8c4/images/circle.svg');
  }
}
