@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Poppins:wght@800&family=Shantell+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
$bg: #000000;
$el1: #52057b;
$el2: #892cdc;
$el3: #bc6ff1;
$el4mod: #1b1b1b;
$el3mod: #bd6ff1a6;
$alic: rgba(255, 255, 255, 0.884);
$green: #ffb84c;
html {
  font-family: "Indie Flower", cursive;
  color: $el3;
}

#formus{
  background-image: linear-gradient(rgba(1, 1, 1, 0.7), rgba(3, 3, 3, 0.7)),url('https://github.com/mkuba2006/rpp/blob/master/images/bg2.jpg?raw=true');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}



#gate{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black; 
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    color: $alic;
    font : normal 400 50px 'Josefin Sans', sans-serif;
  }
}

.demo{
  padding-top: 150px;
}
.demo a {
  z-index: 2;
  display: inline-block;
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

#section05 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}
#section05 a {
  transform: translateY(-100px);
  padding-top: 70px;
  
}
#section05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}



//MEDIA/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 450px) {
  #formus{
    background: url('https://raw.githubusercontent.com/mkuba2006/rpp/188a8683501e4dfddf993e28c354d459cba6c8c4/images/circle.svg');
  }
}
