@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Poppins:wght@800&family=Shantell+Sans:wght@300&display=swap");
html {
  font-family: "Indie Flower", cursive;
  color: #bc6ff1;
}

body {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #010206;
  overflow-x: hidden;
}

#appl {
  font-family: "Montserrat", sans-serif;
  height: 82vh;
}
#appl .titlep {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 33px;
  margin-bottom: 5px;
  width: 100%;
}
#appl #line {
  display: block;
  margin: 0px auto 30px;
  width: 200px;
  height: 2px;
  clear: both;
  background: #FEA1A1;
}
#appl .products {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  max-width: 1100px;
  padding: 0;
  margin: 0 auto 0 auto;
}
#appl .products .item {
  transition-duration: 0.4s;
  padding: 9px 9px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  min-width: 360px;
  max-width: 360px;
}
#appl .products .item .ram {
  transition-duration: 0.4s;
  width: 100%;
  min-height: 180px;
  max-height: 180px;
  min-width: 342px;
  max-width: 342px;
  border-radius: 10px;
  background-color: #161616;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
}
#appl .products .item .ram .for_img {
  transition-duration: 0.4s;
  justify-content: center;
  align-items: center;
  padding: auto 0 auto 0;
  min-height: 180px;
  max-height: 170px;
}
#appl .products .item .ram .for_img img {
  transition-duration: 0.4s;
  -o-object-fit: cover;
  object-fit: cover;
  width: 90%;
  border-radius: 7px;
  height: auto;
  padding-top: 5px;
  min-width: 128px;
  max-width: 140px;
  max-height: 174px;
}
#appl .products .item .content {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0 5px 0 6px;
}
#appl .products .item .content h1 {
  font-weight: 600;
  color: #E900FF;
  transition-duration: 0.4s;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 21px;
}
#appl .products .item .content h3 {
  transition-duration: 0.4s;
  font-size: 19px;
}
#appl .products .item .content select {
  background-color: #161616;
  border: none;
  color: #FFC600;
  font-size: 16px;
}
#appl .products .item .content select option {
  background-color: #161616;
  border: none;
}
#appl .item .ram:hover {
  scale: 1.05;
}

h3 {
  color: #bc6ff1;
}

@media screen and (max-width: 1250px) {
  #appl {
    height: auto;
    margin-top: 60px;
    margin-bottom: 10%;
  }
}
@media screen and (max-width: 1050px) {
  #appl {
    max-width: 800px;
    margin: 60px auto 0 auto;
  }
}
@media screen and (max-width: 500px) {
  #appl .titlep {
    font-size: 26px;
  }
  #appl #line {
    width: 100px;
  }
  #appl .products {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  #appl .products .item {
    min-width: 220px;
    max-width: 220px;
  }
  #appl .products .item .ram {
    min-width: 300px;
    max-width: 300px;
  }
  #appl .products .item .ram .for_img {
    transition-duration: 0.4s;
    justify-content: center;
    align-items: center;
    padding: auto 0 auto 0;
    min-height: 180px;
    max-height: 170px;
  }
  #appl .products .item .content h1 {
    font-size: 18px;
  }
  #appl .products .item .content h3 {
    font-size: 17px;
  }
  #appl .item .ram:hover {
    scale: 1.05;
  }
}
@media screen and (max-width: 500px) {
  #appl .titlep {
    font-size: 20px;
  }
}/*# sourceMappingURL=appl.css.map */