@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Poppins:wght@800&family=Shantell+Sans:wght@300&display=swap');
$yellow: #ffb84c;
$aliceblue: #f0f8ff;
$h2: #7f8799;
$white: #ffffff;
$item_h1: #E900FF;
$item_h3: #ffb74ce8;
$item_h3_v2: #ecdbba;
$important: #df2e38;

a{
  color: $white;
}

html {
  font-family: "Indie Flower", cursive;
  color: $el3;
}

body {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #010206;
  overflow-x: hidden;
}

.carousel {
  max-height: 700px;
  background-color: #0e0e0f;
  padding: 80px 0;
}
.carousel-item {
  width: 100%;
  img {
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;

    filter: blur(0.3px);
    min-height: 500px;
    max-height: 500px;
    filter: brightness(70%);
  }
}
.carousel-caption {
  background-color: #0e0e0f;
  text-align: center;
  h5{
    overflow: hidden;
    a{
      z-index: 2;
    }
    a::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 0px;
      transform: translateY(23px);
      background-color: #ffffff;
      z-index: 1;
      transition: all 0.6s;
    }
    a:hover::before {
      width: 102px;
    }
  }
  
}

//MEDIA/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@media screen and (max-width: 1250px) {
  #second {
    background-color: #010206;
    padding-top: 18%;
    font-family: "Montserrat", sans-serif;
    width: 100vw;
    position: relative;
    padding-bottom: 10%;
    display: flex;
    i {
      padding: 0 auto 0 auto;
      color: $el3;
      font-size: 150px;
    }

    #dos {
      width: 100%;
      display: flex;
      position: relative;
      justify-content: space-around;
      align-items: center;
      height: 280px;
      background-color: #161616;
    }

    #dos > div {
      min-width: 250px;
    }
  }
}

@media screen and (max-width: 1050px) {
  #second {
    background-color: #010206;
    padding-top: 18%;
    font-family: "Montserrat", sans-serif;
    width: 100vw;
    position: relative;
    padding-bottom: 10%;
    display: flex;
    i {
      padding: 0 auto 0 auto;
      color: $el3;
      font-size: 100px;
    }

    #dos {
      width: 100%;
      display: flex;
      position: relative;
      justify-content: space-around;
      align-items: center;
      height: 280px;
      background-color: #161616;

      p {
        font-size: 20px;
      }
    }

    #dos > div {
      min-width: 250px;
    }
  }
}

@media screen and (max-width: 880px) {
  #second {
    i {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 788px) {
  body {
    background-image: url(/svg2.svg);
    background-repeat: repeat-y;
  }
}

@media (min-width: 468px) {
  .d-md-block {
    display: block !important;
  }
}
