@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Poppins:wght@800&family=Shantell+Sans:wght@300&display=swap');
$yellow: #ffb84c;
$aliceblue: #f0f8ff;
$h2: #7f8799;
$white: #ffffff;
$item_h1: #E900FF;
$item_h3: #ffb74ce8;
$item_h3_v2: #ecdbba;
$important: #df2e38;
$b: #0e100f;
a{
  color: $white;
}

html {
  font-family: "Indie Flower", cursive;
  color: $el3;
}

body {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #0e100f;
  overflow-x: hidden;
}



//MEDIA/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@media screen and (max-width: 1250px) {
  #second {
    background-color: #0e100f;
    padding-top: 18%;
    font-family: "Montserrat", sans-serif;
    width: 100vw;
    position: relative;
    padding-bottom: 10%;
    display: flex;
    i {
      padding: 0 auto 0 auto;
      color: $el3;
      font-size: 150px;
    }

    #dos {
      width: 100%;
      display: flex;
      position: relative;
      justify-content: space-around;
      align-items: center;
      height: 280px;
      background-color: #161616;
    }

    #dos > div {
      min-width: 250px;
    }
  }
}

@media screen and (max-width: 1050px) {
  #second {
    background-color: #010206;
    padding-top: 18%;
    font-family: "Montserrat", sans-serif;
    width: 100vw;
    position: relative;
    padding-bottom: 10%;
    display: flex;
    overflow-x: hidden;
    i {
      padding: 0 auto 0 auto;
      color: $el3;
      font-size: 100px;
    }

    #dos {
      width: 100%;
      display: flex;
      position: relative;
      justify-content: space-around;
      align-items: center;
      height: 280px;
      background-color: #161616;

      p {
        font-size: 20px;
      }
    }

    #dos > div {
      min-width: 250px;
    }
  }
}

@media screen and (max-width: 880px) {
  #second {
    i {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 788px) {
  body {
    background-image: url(/svg2.svg);
    background-repeat: repeat-y;
  }
}

@media (min-width: 468px) {
  .d-md-block {
    display: block !important;
  }
}
